apiVersion: apps/v1
kind: Deployment
metadata:
  name: job-app-backend
spec:
  selector:
    matchLabels:
      app: job-app-backend
  template:
    metadata:
      labels:
        app: job-app-backend
    spec:
      containers:
        - name: backend
          image: doua82400/job-app-backend:latest
          ports:
            - containerPort: 5002
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: PORT
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: NODE_ENV
            - name: MONGO_URL
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: JWT_SECRET
            - name: MISTRAL_API_KEY
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: MISTRAL_API_KEY
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
